In [152]:
import warnings
warnings.filterwarnings('ignore')

In [153]:
import pandas as pd
a = pd.read_csv('C:/Users/Lenovo/Downloads/Datasets/tmdb_5000_movies.csv')
b = pd.read_csv('C:/Users/Lenovo/Downloads/Datasets/tmdb_5000_credits.csv')

In [154]:
a.head(3)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466

In [155]:
b.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

# Merge the datasets

In [156]:
x = a.merge(b, on = 'title')

In [157]:
data = x[['id','original_title','overview','keywords', 'genres', 'cast', 'crew']]

In [158]:
data.head()

,id,original_title,overview,keywords,genres,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [159]:
data.shape

(4809, 7)

In [160]:
data.isna().sum()

id                0
original_title    0
overview          3
keywords          0
genres            0
cast              0
crew              0
dtype: int64

In [161]:
data.dropna(inplace= True)

In [162]:
data.shape

(4806, 7)

# Preprocessing

In [163]:
import ast     # converts string of lists into a list

In [164]:
def convert_1(obj):        # fetch genres and keywords
    g = []
    for j in ast.literal_eval(obj):
        g.append(j['name'])
    return g

In [165]:
data['genres'] = data['genres'].apply(convert_1)

In [166]:
data['keywords'] = data['keywords'].apply(convert_1)

In [167]:
data

,id,original_title,overview,keywords,genres,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[Action, Adventure, Fantasy, Science Fiction]","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[ocean, drug abuse, exotic island, east india ...","[Adventure, Fantasy, Action]","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[spy, based on novel, secret agent, sequel, mi...","[Action, Adventure, Crime]","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[dc comics, crime fighter, terrorist, secret i...","[Action, Crime, Drama, Thriller]","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[based on novel, mars, medallion, space travel...","[Action, Adventure, Science Fiction]","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...,"[united states–mexico barrier, legs, arms, pap...","[Action, Crime, Thriller]","[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...,[],"[Comedy, Romance]","[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...","[date, love at first sight, narration, investi...","[Comedy, Drama, Romance, TV Movie]","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...,[],[],"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...,"[obsession, camcorder, crush, dream girl]",[Documentary],"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [168]:
def convert_2(obj):              # fetch 3 cast/actors' names
    n = 0
    c = []
    for i in ast.literal_eval(obj):
        if n <= 3:
            c.append(i['name'])
            n = n+1
    return c

In [169]:
data['cast'] = data['cast'].apply(convert_2)

In [170]:
def convert_3(text):            # fetch director's name
    d = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            d.append(i['name'])
    return d

In [171]:
data['crew'] = data['crew'].apply(convert_3)

In [172]:
#data.iloc[119].crew

In [173]:
data.head(3)

,id,original_title,overview,keywords,genres,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[culture clash, future, space war, space colon...","[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[ocean, drug abuse, exotic island, east india ...","[Adventure, Fantasy, Action]","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[spy, based on novel, secret agent, sequel, mi...","[Action, Adventure, Crime]","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]

In [174]:
# convert string into list for overview column

data['overview'] = data['overview'].apply(lambda x:x.split())

In [175]:
data

,id,original_title,overview,keywords,genres,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[culture clash, future, space war, space colon...","[Action, Adventure, Fantasy, Science Fiction]","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[ocean, drug abuse, exotic island, east india ...","[Adventure, Fantasy, Action]","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[spy, based on novel, secret agent, sequel, mi...","[Action, Adventure, Crime]","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[dc comics, crime fighter, terrorist, secret i...","[Action, Crime, Drama, Thriller]","[Christian Bale, Michael Caine, Gary Oldman, A...",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[based on novel, mars, medallion, space travel...","[Action, Adventure, Science Fiction]","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[Andrew Stanton]
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui...","[united states–mexico barrier, legs, arms, pap...","[Action, Crime, Thriller]","[Carlos Gallardo, Jaime de Hoyos, Peter Marqua...",[Robert Rodriguez]
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended...",[],"[Comedy, Romance]","[Edward Burns, Kerry Bishé, Marsha Dietlein, C...",[Edward Burns]
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,...","[date, love at first sight, narration, investi...","[Comedy, Drama, Romance, TV Movie]","[Eric Mabius, Kristin Booth, Crystal Lowe, Geo...",[Scott Smith]
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is...",[],[],"[Daniel Henney, Eliza Coupe, Bill Paxton, Alan...",[Daniel Hsia]
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi...","[obsession, camcorder, crush, dream girl]",[Documentary],"[Drew Barrymore, Brian Herzlinger, Corey Feldm...","[Brian Herzlinger, Jon Gunn, Brett Winn]"

In [176]:
def join(obj):               # join spaces between the names
    p=[]
    for i in obj:
        p.append(i.replace(" ",""))
    return p

In [177]:
data['cast'] = data['cast'].apply(join)
data['crew'] = data['crew'].apply(join)
data['keywords'] = data['keywords'].apply(join)
data['genres'] = data['genres'].apply(join)

In [178]:
data.head()

,id,original_title,overview,keywords,genres,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[cultureclash, future, spacewar, spacecolony, ...","[Action, Adventure, Fantasy, ScienceFiction]","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[ocean, drugabuse, exoticisland, eastindiatrad...","[Adventure, Fantasy, Action]","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[spy, basedonnovel, secretagent, sequel, mi6, ...","[Action, Adventure, Crime]","[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[dccomics, crimefighter, terrorist, secretiden...","[Action, Crime, Drama, Thriller]","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[basedonnovel, mars, medallion, spacetravel, p...","[Action, Adventure, ScienceFiction]","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[AndrewStanton]

# merge into a single column

In [182]:
data['info'] = data['overview'] + data['keywords'] + data['genres']+ data['cast'] + data['crew']

In [183]:
data2 = data[['id', 'original_title', 'info']]

In [184]:
data2.head()

,id,original_title,info
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [185]:
# convert list into string
data2['info'] = data2['info'].apply(lambda x:' '.join(x))

In [186]:
# convert into lowercase
data2['info'] = data2['info'].apply(lambda x:x.lower())

In [187]:
data2['info'][119]

'driven by tragedy, billionaire bruce wayne dedicates his life to uncovering and defeating the corruption that plagues his home, gotham city. unable to work within the system, he instead creates a new identity, a symbol of fear for the criminal underworld - the batman. himalaya martialarts dccomics crimefighter secretidentity undercover hero lossoffather society gothamcity vigilante superhero basedoncomicbook rivalry tragichero ninja goodvsevil crime superpowers hauntedbythepast evildoctor escapade mastervillain fightingcrime unfulfillment loveandromance unfulfilledlove action crime drama christianbale michaelcaine liamneeson katieholmes christophernolan'

# Vectorization

In [188]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

In [189]:
X = cv.fit_transform(data2['info']).toarray()

In [192]:
X

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [196]:
cv.get_feature_names()

['00',
 '000',
 '007',
 '07am',
 '10',
 '100',
 '1000',
 '101',
 '108',
 '10th',
 '11',
 '114',
 '117',
 '118',
 '119',
 '11th',
 '12',
 '1200',
 '1215',
 '1250',
 '125th',
 '12th',
 '13',
 '1300',
 '13th',
 '14',
 '140',
 '1408',
 '142',
 '1429',
 '148',
 '14pm',
 '14th',
 '15',
 '150',
 '150th',
 '1520s',
 '1536',
 '15th',
 '15thcentury',
 '16',
 '1600s',
 '161',
 '1630s',
 '1644',
 '1681',
 '1691',
 '16th',
 '16thcentury',
 '17',
 '170',
 '1700s',
 '173rd',
 '1748',
 '1776',
 '17th',
 '17thcentury',
 '18',
 '180',
 '1800',
 '1818',
 '1820',
 '1820s',
 '1824',
 '1831',
 '1834',
 '1836',
 '1838',
 '1839',
 '1841',
 '1845',
 '1850',
 '1850s',
 '1856',
 '1857',
 '1860',
 '1862',
 '1863',
 '1870s',
 '1875',
 '1876',
 '1879',
 '1880s',
 '1882',
 '1885',
 '1889',
 '1890',
 '1890s',
 '18th',
 '18thcentury',
 '19',
 '1900',
 '1900s',
 '1903',
 '1905',
 '191',
 '1910',
 '1910s',
 '1911',
 '1912',
 '1914',
 '1915',
 '1917',
 '1918',
 '1919',
 '1920',
 '1920s',
 '1921',
 '1922',
 '1924',
 '1925',
 '1926',
 '1927',
 '1928',
 '1929',
 '1930',
 '1930s',
 '1931',
 '1932',
 '1933',
 '1934',
 '1936',
 '1937',
 '1939',
 '1940',
 '1940s',
 '1941',
 '1942',
 '1943',
 '1944',
 '1945',
 '1946',
 '1947',
 '1949',
 '1950',
 '1950s',
 '1951',
 '1952',
 '1953',
 '1954',
 '1955',
 '1956',
 '1957',
 '1958',
 '1959',
 '1960',
 '1960s',
 '1962',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 '1970s',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1980s',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1990s',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '19th',
 '19thcentury',
 '1st',
 '20',
 '200',
 '2000',
 '2000ad',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2025',
 '2027',
 '2028',
 '2029',
 '2035',
 '2046',
 '2047',
 '2058',
 '2087',
 '20s',
 '20th',
 '20thcentury',
 '21',
 '2159',
 '2199',
 '21st',
 '21stcentury',
 '22',
 '2257',
 '22nd',
 '23',
 '24',
 '2455',
 '25',
 '250',
 '2505',
 '250cc',
 '25th',
 '25thcentury',
 '26',
 '27',
 '27th',
 '28',
 '280',
 '28th',
 '29',
 '298',
 '2nd',
 '2ndcentury',
 '30',
 '300',
 '3000',
 '30s',
 '30th',
 '31',
 '310lb',
 '32',
 '33',
 '344m',
 '35',
 '350',
 '370',
 '38',
 '39',
 '3d',
 '3po',
 '40',
 '400',
 '40s',
 '42',
 '43',
 '44',
 '47',
 '47th',
 '48',
 '480',
 '49',
 '4k',
 '4th',
 '50',
 '500',
 '50cent',
 '50s',
 '50th',
 '51',
 '51st',
 '53',
 '533',
 '54',
 '56',
 '58',
 '59',
 '5m',
 '5th',
 '60',
 '600',
 '60s',
 '63',
 '64',
 '643',
 '65th',
 '66',
 '69',
 '6th',
 '70',
 '700',
 '70mm',
 '70s',
 '72',
 '73',
 '747',
 '74th',
 '75',
 '75th',
 '78',
 '79',
 '7th',
 '80',
 '800',
 '80s',
 '81',
 '83',
 '84',
 '86',
 '88',
 '8km',
 '8th',
 '90',
 '9000',
 '900lb',
 '90210',
 '90s',
 '911',
 '922',
 '92nd',
 '93',
 '96',
 '98',
 '99',
 '9th',
 '_wizard',
 'aa',
 'aaa',
 'aaliyah',
 'aames',
 'aamirkhan',
 'aang',
 'aaranthomas',
 'aaron',
 'aaronabrams',
 'aaroneckhart',
 'aaronhann',
 'aaronkwok',
 'aaronmurphy',
 'aaronpaul',
 'aaronruell',
 'aarons',
 'aaronschneider',
 'aaronseltzer',
 'aaronstanford',
 'aaront',
 'aarontaylor',
 'aaronyoo',
 'aasheekaabathija',
 'aasifmandvi',
 'aba',
 'abaddon',
 'abagnale',
 'abandon',
 'abandoned',
 'abandonedhouse',
 'abandonedmine',
 'abandoning',
 'abandonment',
 'abandons',
 'abba',
 'abbas',
 'abbate',
 'abberline',
 'abbey',
 'abbeylincoln',
 'abbie',
 'abbiecornish',
 'abbott',
 'abby',
 'abdicates',
 'abdication',
 'abduct',
 'abducted',
 'abduction',
 'abductions',
 'abductors',
 'abducts',
 'abe',
 'abel',
 'abelferrara',
 'aberdeen',
 'abernathy',
 'abhinayvaddi',
 'abhishekbachchan',
 'abhorrent',
 'abhors',
 'abide',
 'abigail',
 'abigailbianca',
 'abigailbreslin',
 'abigailhargrove',
 'abigailspencer',
 'abilities',
 'ability',
 'ablai',
 'able',
 'ableman',
 'abo',
 'aboard',
 'abode',
 'abolish',
 'abolition',
 'abolitionist',
 'aboriginal',
 'aborigine',
 'aborigines',
 'abortion',
 'abortionist',
 'abound',
 'about',
 'above',
 'abraham',
 'abrahamlincoln',
 'abrams',
 'abrasive',
 'abroad',
 'abrupt',
 'abruptly',
 'absence',
 'absences',
 'absent',
 'absentia',
 'abshire',
 'absolute',
 'absolutely',
 'absorbed',
 'absorbingpower',
 'absorbs',
 'absorption',
 'abstract',
 'abstraction',
 'absurd',
 'absurdism',
 'abu',
 'abundance',
 'abuse',
 'abused',
 'abuses',
 'abusing',
 'abusive',
 'abusivefather',
 'abusivehusband',
 'abusivemarriage',
 'abyss',
 'aca',
 'academia',
 'academic',
 'academy',
 'acapella',
 'acapulco',
 'accelerated',
 'accelerating',
 'accept',
 'acceptable',
 'acceptance',
 'accepted',
 'accepting',
 'acceptingdeath',
 'accepts',
 'access',
 'accessible',
 'accessories',
 'accident',
 'accidental',
 'accidentallove',
 'accidentally',
 'accidentaly',
 'accidents',
 'acclaim',
 'acclaimed',
 'acclimated',
 'acclimates',
 'accolades',
 'accompanied',
 'accompanies',
 'accompany',
 'accompanying',
 'accomplice',
 'accomplices',
 'accomplish',
 'accomplished',
 'accordance',
 'accordian',
 'according',
 'account',
 'accountable',
 'accountant',
 'accountants',
 'accounting',
 'accounts',
 'accra',
 'accumulation',
 'accuracy',
 'accursed',
 'accusations',
 'accuse',
 'accused',
 'accuser',
 'accuses',
 'ace',
 'acemarrero',
 'achieve',
 'achieved',
 'achievement',
 'achievements',
 'achieves',
 'achieving',
 'achilles',
 'achim',
 'aching',
 'acid',
 'acker',
 'acquaintance',
 'acquaintances',
 'acquainted',
 'acquire',
 'acquired',
 'acquires',
 'acquiring',
 'acquittal',
 'acquitted',
 'acre',
 'acrimonious',
 'acrobat',
 'across',
 'act',
 'acting',
 'action',
 'actionhero',
 'actionheroine',
 'actions',
 'activate',
 'active',
 'activist',
 'activists',
 'activities',
 'activity',
 'actor',
 'actors',
 'actress',
 'acts',
 'actual',
 'actually',
 'actuary',
 'acute',
 'ad',
 'ada',
 'adaline',
 'adam',
 'adamalexi',
 'adambaldwin',
 'adambeach',
 'adambousdoukos',
 'adamboyd',
 'adambrody',
 'adambrooks',
 'adambutcher',
 'adamcampbell',
 'adamcarolla',
 'adamclayton',
 'adamdriver',
 'adamg',
 'adamgarcia',
 'adamgoldberg',
 'adamgreaves',
 'adamgreen',
 'adamherschman',
 'adamjayepstein',
 'adamlamberg',
 'adamlevine',
 'adammarcus',
 'adammckay',
 'adampascal',
 'adamrapp',
 'adamrayner',
 'adamrifkin',
 'adamrodríguez',
 'adams',
 'adamsandler',
 'adamscott',
 'adamshankman',
 'adamtrese',
 'adamwest',
 'adapation',
 'adapt',
 'adaptation',
 'adapted',
 'adapting',
 'adaption',
 'adapts',
 'adarbeck',
 'add',
 'added',
 'addict',
 'addicted',
 'addiction',
 'addictions',
 'addictive',
 'addicts',
 'addition',
 'additional',
 'additions',
 'addled',
 'address',
 'addressed',
 'adds',
 'adeelakhtar',
 'adela',
 'adelaide',
 'adelaideclemens',
 'adelaidekane',
 'adele',
 'adelemara',
 'adept',
 'adeptly',
 'adewaleakinnuoye',
 'adhd',
 'adib',
 'adiletusubaliyev',
 'adilkoukouh',
 'aditya',
 'adityaroykapoor',
 'adjacent',
 'adjani',
 'adjust',
 'adjusted',
 'adjuster',
 'adjusting',
 'adjustment',
 'adler',
 'adm',
 'administered',
 'administration',
 'administrator',
 'admiral',
 'admiration',
 'admired',
 'admirer',
 'admires',
 'admissions',
 'admit',
 'admits',
 'admitted',
 'admonished',
 'admonition',
 'adolescence',
 'adolescent',
 'adolescentboy',
 'adolescents',
 'adolf',
 'adolfhitler',
 'adolfoceli',
 'adolphdavis',
 'adolphemenjou',
 'adonijah',
 'adonis',
 'adopt',
 'adopted',
 'adoptedchild',
 'adoption',
 'adoptive',
 'adoptivefather',
 'adoptivemother',
 'adopts',
 'adorable',
 'adorably',
 'adoration',
 'adore',
 'adored',
 'adores',
 'adoring',
 'adrenalin',
 'adrenaline',
 'adrenalinejunkie',
 'adrenalized',
 'adrian',
 'adriana',
 'adrianabarraza',
 'adrianacaselotti',
 'adriandunbar',
 'adriangaeta',
 'adriangonzalez',
 'adriangrenier',
 'adrianholmes',
 'adrianjames',
 'adrianlyne',
 'adriannepalicki',
 'adrianogiannini',
 'adrianpaul',
 'adrienbrody',
 'adriendorval',
 'adriennebarbeau',
 'adrienneking',
 'adriennepickering',
 'adrienneshelly',
 'adrift',
 'adriánalonsobarona',
 'adulation',
 'adult',
 'adultanimation',
 'adultasachild',
 'adulterous',
 'adultery',
 'adulthood',
 'adulthumor',
 'adultress',
 'adults',
 'advance',
 'advanced',
 'advancement',
 'advances',
 'advancing',
 'advantage',
 'advent',
 'adventure',
 'adventurer',
 'adventures',
 'adventurous',
 'adversaries',
 'adversary',
 'adverse',
 'adversity',
 'advertised',
 'advertisement',
 'advertisements',
 'advertising',
 'advertisingexecutive',
 'advertisingexpert',
 'advice',
 'advise',
 'advised',
 'adviser',
 'advisers',
 'advises',
 'advising',
 'advisor',
 'advisors',
 'advisory',
 'advocate',
 'ae',
 'aegis',
 'aerial',
 'aerialcombat',
 'aerialist',
 'aerialshot',
 'aerobics',
 'afar',
 'affable',
 'affair',
 'affairs',
 'affect',
 'affected',
 'affecting',
 'affection',
 'affectionate',
 'affectionately',
 'affections',
 'affects',
 'affirming',
 'afflict',
 'afflicted',
 'affluent',
 'afford',
 'afghan',
 'afghani',
 'afghanistan',
 'afloat',
 'afoul',
 'afraid',
 'africa',
 'african',
 'africanamerican',
 'africanamericanchild',
 'africanamericancomedy',
 'africanamericanmusic',
 'africannationalcongress',
 'afro',
 'afshin',
 'after',
 'aftercare',
 'aftercreditsstinger',
 'afterglow',
 'afterlife',
 'aftermath',
 'afternoon',
 'afterward',
 'afterwards',
 'ag',
 'again',
 'against',
 'agamemnom',
 'agamemnon',
 'agatakulesza',
 'agatatrzebuchowska',
 'agbaje',
 'age',
 'aged',
 'agedifference',
 'agee',
 'ageing',
 'ageless',
 'agencies',
 'agency',
 'agenda',
 'agent',
 'agentcoulson',
 'agents',
 'ages',
 'aggie',
 'aggression',
 'aggressionbyanimal',
 'aggressionbyplant',
 'aggressive',
 'aggressiveness',
 'agility',
 'aging',
 'agitate',
 'agitated',
 'agnesbruckner',
 'agnieszkaholland',
 'agnieszkawojtowicz',
 'agniyaditkovskite',
 'agnostic',
 'ago',
 'agonizes',
 'agony',
 'agoraphobic',
 'agosto',
 'agree',
 'agreed',
 'agreeing',
 'agreement',
 'agrees',
 'agri',
 'agriculture',
 'agumon',
 'agustíndíazyanes',
 'ahab',
 'ahead',
 'ahkmenrah',
 'ahluwalia',
 'ahmad',
 'ahmed',
 'ahnaisechristmas',
 'ahnao',
 'ahneyher',
 'ahnsung',
 'aibileen',
 'aid',
 'aidan',
 'aidandevine',
 'aidangillen',
 'aidanmcardle',
 'aidanquinn',
 'aide',
 'aided',
 'aiden',
 'aidenlovekamp',
 'aiding',
 'aids',
 'aileen',
 'ailing',
 'ailments',
 'ailulalaswad',
 'aim',
 'aimed',
 'aimeegarcia',
 'aimeeteegarden',
 'aiming',
 'aimless',
 'aimlessly',
 'aims',
 'ain',
 'ainu',
 'air',
 'airattack',
 'airborne',
 'airconditioner',
 'aircontroller',
 'aircraft',
 'aircraftcarrier',
 'aires',
 'airforce',
 'airforcebase',
 'airforceone',
 'airguitar',
 'airline',
 'airlinepilot',
 'airmarshal',
 'airmen',
 'airplane',
 'airplaneaccident',
 'airplanecrash',
 'airplanehijack',
 'airport',
 'airportlounge',
 'airportsecurity',
 'airraid',
 'airs',
 'airship',
 'airstrikes',
 'airtrafficcontrol',
 'aisha',
 'aishatyler',
 'aishwaryaraibachchan',
 'aisle',
 'aisles',
 'aislinnderbez',
 'aitanasánchez',
 'ajami',
 'ajanaomiking',
 'ajay',
 'ajaynaidu',
 'ajbowen',
 'ajey',
 'ajla',
 'ajmichalka',
 'aka',
 'akasha',
 'akeelah',
 'aki',
 'akialeong',
 'akihiromiwa',
 'akikaurismäki',
 'akikowakabayashi',
 'akira',
 'akirakurosawa',
 'akiro',
 'akivagoldsman',
 'akivaschaffer',
 'akon',
 'akosuabusia',
 'akselhennie',
 'akshayekhanna',
 'akshaykumar',
 'al',
 'ala',
 'alabama',
 'aladdin',
 'alafolix',
 'alagaesia',
 'alain',
 'alaingoulem',
 'alainmoussi',
 'alainresnais',
 'alakinamann',
 'alamo',
 'alan',
 'alana',
 'alanalda',
 'alanarkin',
 'alanbates',
 'alanbean',
 'alancohn',
 'alancox',
 'alancumming',
 'alandale',
 'alangelfant',
 'alanj',
 'alanking',
 'alanmetter',
 'alannaubach',
 'alanparker',
 'alanpoul',
 'alanrickman',
 'alanritchson',
 'alanruck',
 'alanrudolph',
 'alanshapiro',
 'alansmithee',
 'alantaylor',
 'alantudyk',
 'alanvansprang',
 'alanwebb',
 'alanyuen',
 'alarm',
 'alarmclock',
 'alarmed',
 'alarming',
 'alaska',
 ...]

# cosine_similarity

In [203]:
from sklearn.metrics.pairwise import cosine_similarity
dist = cosine_similarity(X)

# movie_recommend

In [221]:
def movie_recommend(title):
    index = data2[data2['original_title'] == title].index[0]
    movies_list = sorted(list(enumerate(dist[index])), reverse= True, key = lambda x: x[1])[1:6]
    
    for i in movies_list:
        print(data2.iloc[i[0]]['original_title'])

In [228]:
movie_recommend('Spider-Man 3')

Spider-Man 2
Spider-Man
From a Whisper to a Scream
The Lovers
Arachnophobia

In [229]:
movie_recommend('Harry Potter and the Half-Blood Prince')

Harry Potter and the Philosopher's Stone
Harry Potter and the Order of the Phoenix
Harry Potter and the Goblet of Fire
Harry Potter and the Chamber of Secrets
Harry Potter and the Prisoner of Azkaban

In [230]:
movie_recommend('Avengers: Age of Ultron')

Gladiator
Conan the Destroyer
Captain America: The Winter Soldier
Mission: Impossible - Ghost Protocol
The Matrix Reloaded